* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: white;
}
#wrapper {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    max-width: 100px;
    max-height: 100px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    min-height: 8vh;
}

#menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
     
}
.menu_link {
    margin-top: 20px;
    padding: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    border: 3px solid transparent;
}
.menu_link:hover {
    border-top: #ff6033 solid 3px;
}
.home {
    min-height: 600px;
    background-image: url('../images/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.hoch1 {
    position: absolute;
    font-size: 27px;
    top:-40px;
    font-weight: 800;
}
.pepe {
    position: absolute;
    max-width: 350px;
    flex: 1;
    left: 10%;
    font-size: 17px;
}
.button1 {
    margin-top: 10px;
    text-transform: uppercase;
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    color: white;
    font-size: 20px;
    border: 1px solid #ff6033;
    filter: drop-shadow(0px 2px 2.5px rgba(0,0,0,0.5));
    cursor: pointer;
}
.button1:hover {
    color: #ff6033;
    background-color: white;
    transition-duration: 1s;
}
.about {
    background-color: #00baba;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.imgabout {
    display: block;
    width: 80%;
}
.hoch {
    font-weight: 900;
    font-size: 70px;
    color: white;
    padding-right: 20px;
}
.pipi {
    max-width: 400px;
    margin-top: 10px;
    color: white;
    font-size: 17px;
   padding-right: 50px;
}
.services {
    background-color: #70bfff;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.tomato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.imgtomato {
    flex: 0;
    width: 100%;
    display: block;
}
.ourserv {
    position: absolute;
    flex: 1;
    color: white;
    font-size: 70px;
    font-weight: 800;
}
.servleft {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.boxi {
    width: 300px;
    height: 80px;
    background-color: white;
    margin: 20px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;
    filter: drop-shadow(1px 1.732px 0px black);
    cursor: pointer;
}
[class^="icon"] {
    font-size: 40px;
    padding-right: 20px;   
}
.gallery {
    background-color: #ffe92f;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hochi {
    text-align: center;
    font-size: 100px;
}
.gallerytext {
    text-align: center;
    width: 630px;
    font-size: 17px;
    line-height: 27px;
    color: #262626;
    font-weight: 300;
}
.gala {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img1 {
    width: 100%;
    padding-right: 20px;
}
.img2 {
    width: 100%;
    min-height: 310px;
}
.bot {
    display: flex;
    flex-direction: row;
}
.img4 {
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.img5 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.subscribe {
    min-height: 500px;
    background-image: url("../images/subs.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}
.pepes {
    position: absolute;
    max-width: 550px;
    left: 15%;
    font-size: 17px;
    padding-top: 200px;
}
.pepeso {
    position: absolute;
    max-width: 550px;
    left: 15%;
    font-size: 37px;
    font-weight: bold;
    padding-top: 150px;
}
.mail {
    position: absolute;
    left: 15%;
    padding-top: 250px; 
}
.button2 {
    margin-top: 10px;
    text-transform: uppercase;
    width: 200px;
    height: 55px;
    background-color: #96b92c;
    color: white;
    font-size: 20px;
    border: 1px solid #96b92c;
    filter: drop-shadow(0px 2px 2.5px rgba(0,0,0,0.5));
    cursor: pointer;
}
.button2:hover {
    background-color: #475871;
    color: #96b92c;
    transition: 0.5s;
}
.inputty {
    width: 570px;
    height: 55px;
    background-color: rgba(38,38,38,0);
    border: 1px solid #262626;
    padding-left: 10px;
    font-size: 20px;
}
.blog {
    background-color: #b07cf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    padding: 40px;
}
.blogi {
    font-size: 90px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 700;
    color: white;
    padding-top: 20px;
}
.blogis {
    padding-top: 60px;
    color: white;
    max-width: 500px;
    font-size: 17px;
    line-height: 25px;
}

.imgblog {
    margin: 20px;
    width: 370px;
    height: 310px;
    filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
    background-color: #fbfbf7;
}
.button3 {
    margin-top: 10px;
    text-transform: uppercase;
    width: 200px;
    height: 55px;
    background-color: #f72b3b;
    color: white;
    font-size: 13px;
    border: 1px solid #f72b3b;
    filter: drop-shadow(0px 2px 2.5px rgba(0,0,0,0.5));
    cursor: pointer;
}
.button3:hover {
    background-color: white;
    color: #f72b3b;
    transition: 0.5s;
}
.button5 {
    margin: 20px;
    text-transform: uppercase;
    width: 200px;
    height: 55px;
    background-color: #5585a2;
    color: white;
    font-size: 13px;
    border: 1px solid #5585a2;
    filter: drop-shadow(0px 2px 2.5px rgba(0,0,0,0.5));
    cursor: pointer;
}
.button5:hover {
    background-color: white;
    color: #5585a2;
    transition: 0.5s;
}
.contact {
    display: flex;
    flex-direction: column;
    background-image: url("../images/img\ \(7\).png");
    background-repeat: no-repeat;
    background-size: center;
    background-position: center right;
    min-height: 700px;
    justify-content: center;

}
.pcontact {
    font-size: 70px;
    font-weight: bolder;
    padding-bottom: 10px;
}
.ppcontact {
    max-width: 400px;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}
.pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contactpanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rightcontact {
    padding: 40px;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.little {
    font-size: medium;
    padding-bottom: 8px;
}
.big {
    font-size: 20px;
    font-weight: bold;
}
[class^="ini"] {
    min-width: 400px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #00c4c4;
    background-color: #00c4c4;
    opacity: 40%;
    filter: drop-shadow(1px 1.732px 0px #ffffff);
    border: 1px solid #c6c6c6;
}
.ini::placeholder {
    color: white;
    font-weight: bold;
    font-size: 12px;
}
textarea {
    resize: none;
    background-color: #00c4c4;
}
.ini:hover {
    opacity: 90%;
}
.foot {
    display: flex;
    flex-direction: row;
    background-color: #262626;
    min-height: 6vh;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.footie {
    color: rgb(102, 95, 93);
}
.cahee {
    color: white;
}
.redie {
    color: red;
}